* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	width: 100%;	
	background-image: url("img/background.jpg");
	font-family: Arial, Helvetica, Verdana, “ヒラギノ角ゴPro W3″, “Hiragino Kaku Gothic Pro”, Osaka, “メイリオ”, Meiryo, “ＭＳ Ｐゴシック”, sans-serif;
	line-height: 1.7;
}
h1 {
	padding:10% 0 10% 15%;
	text-align: left;	
	color:  #000000;
	font-size: 15px;
}
h2{
	padding: 5px 0 0 30px;
	text-align: left;
	font-size: 20px;
	color: #000000;
}
h3{
	padding: 5px 0 5px 0;
	font-size: 14px;
	color: #000000;
}
/* Header-----------------------------------------------------------------------------*/

header {
  width: 100%;
}

#page_top {
  margin: 0;
  padding: 0;
}

/* Nav-----------------------------------------------------------------------------*/
.nav {
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	}	
#info{
	padding: 10px 10px 10px 20px;
	font-size: 0.8em;
	color: #333;
}

/* rest-----------------------------------------------------------------------------*/
.restaurant{
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	background:  rgba(0,0,0,0.2);
	border-bottom: dotted 3px;
	border-bottom-color: #cccccc;
}
.rest_left{
	width: 18%;
	height: 80px;
	padding: 10px 1%;
	margin: 0;
	float: left;
}
.rest_right{
	width: 72%;
	height: 80px;
	padding: 10px 1%;
	margin: 0;
	float: left;
}
.rest_arrow{
	width: 6%;
	height: 100px;
	padding: 0;
	float: left;
	background: url("img/arrow_icon.png") no-repeat center;
}
.image_style{
	width: 80%;
}
/* レストラン探す-----------------------------------------------------------------------------*/
.search_rest{
	width:99%;
	background:  rgba(0,0,0, 0.1);
	border-color:  #888;
	border-style: dotted none none none ;
	border-width:3px;  
	height: 80px;
	padding: 20px 20px 0 10px;
}
.rest_text{
	width: 80%;
	height: 50px;
	padding: 0;
	float:left;
}
.rest_submit{
	width: 20%;
	padding: 0;
	height: 50px;
	float: right;
}
/* 運行-----------------------------------------------------------------------------*/
select{
	width: 80%;
	margin: 10px 10% ;
	-moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    padding: 4px;
    background: rgba(200,200,255, 0.2);
    border: none;
    color: #000;
    font-size: 1.4em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.32) inset;
}

#submit_botton{
	width: 100px;
	margin-right:40%;
	margin-left:40%;
}
#ship_info{
	width: 100%;
	background:  rgba(255,255,255, 0.1);
	margin-top: 10px;
	
}

.ship_title{
	height:1.5em;
	background: rgba(0,0,25, 0.1);
	border-style: dotted none dotted none;
}
.ship_ex{
	font-size: 0.8em;
	padding:5px 0 5px 10px;
}
.ship_to{
	border-style: solid none solid none;
	  border-width:1px;  
	  border-color: #ccc;
	 padding:5px 0 5px 10px;
	 background: rgba(0,0,0, 0.8);
	 color:#fff;
}

.ship_info{
	font-size: 0.8em;
	padding:1px 0 1px 10px;
}

#ship_info table{
	border-spacing: 0;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #CCC;
	width:100%;
	margin:5px 0 20px 0;
	 background:#ffffff;
}

#ship_info th,td{
    padding:3px;
    background:#ffffff;
    border-bottom:solid 1px #CCC;
}
#ship_info th{
	background:#eee;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    color:#69655c;
	border-right:solid 1px #CCC;
}

/* ship_search-----------------------------------------------------------------------------*/
.area{
	width:350px;
	margin:0 auto;
	height: 250px;
}

.s_point{
	width: 46px;
	height:250px;
	float:left;
}
.bar{
	width: 30px;
	padding: 115px 0 0 0;
	float: left;
}
#v_bar{
	width: 350px;
	height:44px;
	margin:0 auto;
}
#fune{
	width:152px;
	height: 250px;
	float: left;
	padding: 60px 0 0 0;
}

/* Twitter-----------------------------------------------------------------------------*/
.twitter{
	width: 100%;
	margin: 30px 0 0 0;
	background:  rgba(0,0,0, 0.1);
}
.twtr-hd{}
.twtr-ft{display:none;}